html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    }
    body {
        background-color: #BEC0C2;
    }
    table {
        overflow: hidden;


    }
    table tbody tr:nth-of-type(31){background-color: #F58426;}
    tr:hover { background-color: #ffa;}
    th {
        background-color: #006BB6;
        text-align: left;
        }
    td, th {
        position: relative;
    }
    td:hover::after,
    th:hover::after {
        content: "";
        position: absolute;
        background-color: #ffa !important;
        left: 0;
        top: -5000px;
        height: 10000px;
        width: 100%;
        z-index: -1;
    }

    